{% extends 'apptemplates/loginBasic.html' %}
{% block title %} Login - EcoWaste Management System {% endblock title %}
{% block content %}

<section class="hero">
    <h2 class="heading">Login - EcoWaste Management System</h2>
    <form action="" method="POST">
        <div class="input-field">
            {% csrf_token %}
            {{form.as_p}}
        </div>
        <div class="btn-box btns">
            <input class="btn" type="submit" value="Login" name="" id="">
        </div>
        <h6>New to this site? <a href="#">Register</a></h6>
        <h6>Forgot password? <a href="">Reset password</a></h6>
    </form>
</section>


{% endblock content %}